*{
    margin: 0;
}
#Loading{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("https://i.gifer.com/PG23.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99999;
}
.images{
    display: flex;
    height: 700px;
    width: 100%;
    background-image:url("Rutvik_Header_Bg.jpg");
    background-size: cover;
    background-attachment:fixed;
}
.header{
    display: flex;
    flex-flow: column;
    text-align: center;
    height:100%;
    width: 500px;
}
.name{
    position:relative;
    bottom: -200px;
    font-size: 50px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
    transition: 0.2s;
}
.name :hover, .post:hover, .intro:hover{
    text-shadow: 0 5px 100px #FF0000, 0 0 10px #0000FF;
}
.post{
    position:relative;
    bottom: -350px;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    transition: 0.2s;
}
.intro{
    position:relative;
    bottom: -350px;
    font-size: 18px;
    text-align: justify;
    width: 100%;
    color: white;
    transition: 0.2s;
}
.right{
    position:absolute;
    float: right;
    right: 0;
    height:700px;
    min-width: 800px;
    font-size: 10em;
}
.html{
    position: absolute;
    right: 400px;
}
.reactjs{
    position: absolute;
    right: 250px;
    top: 500px;
}
.nodejs{
    position: absolute;
    right: 420px;
    top: 400px;
}
.css{
    position: absolute;
    right: 500px;
    top: 200px;
}
.javascript{
    position: absolute;
    right: 250px;
    top: 250px;
}
.exp{
    background:linear-gradient(red,blue,yellow);
    height: 800px;
    
}