html,body{
    background-image: url("C:/Users/Nidhi Acharya/Desktop/relevel/Intro/resume/src/images/Rutvik_Header_Bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.intro{
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:black;
    height: 1200px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}
.name:hover, .term:hover,.info:hover{
    transform: translate(10px, 5%);
}
.tag{
    display: flex;
    justify-content: center;
    background-color:rgb(59, 53, 53);
    height: 100px;
    color: white;
}
.name{
    transition: 0.6s;
}
.term{
    transition: 0.6s;
}
.info{
    text-align: center;
    max-width: 1500px;
    word-wrap: break-word;
    word-break: break-all;
    text-align-last: left;
    transition: 0.6s;
}
.vartic{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    flex-direction: row;
    background-color:rgb(196, 26, 26);
    height: 500px;
    color: white;
}
.vartic a{
    font-size: 200px;
    color: white;
    transition: 0.3s;
}
.vartic a:hover{
    font-size: 250px;
}
.empty{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 900px;
}