*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.pht{
    background-image: url('./components/image/Rutvik_Header_Bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover;
    
}